{% autoescape None %}
<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" action="/{{model_name}}/new" onsubmit="return checkForm()">
  <input type="hidden" name="id" value="0">
{% for model in model_list %}
 {% if model['element'] == 'text' %}
  <div class="form-group">
    <label for="{{model['field'][2:]}}" class="col-sm-2 control-label">{{model['placeholder']}}</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="{{model['field'][2:]}}" name="{{model['field'][2:]}}" placeholder="输入{{model['placeholder']}}（必填）">
    </div>
  </div>
  {% elif model['element'] == 'radio' %}
  <div class="form-group">
    <label class="col-sm-2 control-label">{{model['placeholder']}}</label>
    <div class="col-sm-6">
      {% for i in xrange(len(model['value_array'])) %}
      <label class="radio-inline">
        <input type="radio" name="{{model['field'][2:]}}" value="{{model['value_array'][i]}}" {{'checked' if model['value_array'][i] == model['default'] else ''}}> {{model['desc_array'][i]}}
      </label>
      {% end %}
    </div>
  </div>
  {% elif model['element'] == 'select' %}
  <div class="form-group">
    <label for="{{model['field'][2:]}}" class="col-sm-2 control-label">{{model['placeholder']}}</label>
    <div class="col-sm-6">
      <select class="form-control" id="{{model['field'][2:]}}" name="{{model['field'][2:]}}">
        {% for i in xrange(len(model['value_array'])) %}
        <option value="{{model['value_array'][i]}}" {{'selected="selected"' if model['value_array'][i] == model['default'] else ''}}>{{model['desc_array'][i]}}</option>
        {% end %}
      </select>
    </div>
  </div>
  {% elif model['element'] == 'checkbox' %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6 form-inline">
      <label class="control-label">{{model['placeholder']}}</label>
      {% for i in xrange(len(model['value_array'])) %}
      <label class="checkbox-inline">
        <input type="checkbox" name="{{model['field'][2:]}}" value="{{model['value_array'][i]}}" {{'checked' if model['value_array'][i] in model['default'] else ''}}> {{model['desc_array'][i]}}
      </label>
      {% end %}
    </div>
  </div>
  {% end %}
{% end %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
